.container {
    margin: 0 auto; /*  0 : margin superior e inferior serão 0, auto: margin esquerda e direita serão iguais(obj fica centralizado na
                    horizontal   */
    max-width: 1200px;

    /*display: flex;
    justify-content: space-between;*/ /*Os elementos filhos ocuparão todos os 1200px ficando igualmente separados por espaço entre eles*/

    /*flex-wrap: wrap;*/ /* quando os elementos filhos ultrapassarem 1200px vão pra baixo em uma nova linha;*/
}

